:root {
    --darkblue-1st-color: #043640;
    --blue-2nd-color: #034b57;
    --darkgreen-3rd-color: #449f05;
    --lightgreen-4th-color: #55cb04;
    --fluogreen-5th-color: #6bff05;
    --black-6th-color: #000000;    
    --main-font: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.nav {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    width: 90%;
    background-color: var(--darkgreen-3rd-color);
}

.main {
    height: 100%;
    width: 100%;
    background-color: var(--darkblue-1st-color);
}

.footer {
    height: 10%;
    width: 90%;
    background-color: var(--fluogreen-5th-color);
}