.navside {
  height: 100%;
  width: 10%;
  margin-left: auto;
}

.navside-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}

.navside-content.show {
  transform: translateX(0);
  opacity: 1;
}

