@import url("../css/pages/games.css");
@import url("../css/pages/classement.css");
@import url("../css/pages/addChallenge.css");
@import url("../css/pages/game.css");
@import url("../css/pages/challenge.css");
@import url("../css/pages/pagination.css");
@import url("../css/pages/footer.css");
@import url("../css/pages/form.css");
@import url("../css/pages/about.css");
@import url("../css/pages/challenges.css");
@import url("../css/pages/section-user.css");
@import url("../css/pages/header.css");

:root {
  --green-color: #449f05;
  --lightgreen-color: #55cb04;
  --fluogreen-color: #6bff05;
  --deepblue-color: #043640;
  --blue-color: #034b57;
  --main-font: "Poppins", sans-serif;
}

body {
  background: radial-gradient(
      circle at 50% 20%,
      rgba(0, 100, 0, 0.4) 0%,
      rgba(0, 40, 0, 0.2) 40%,
      #001c22 100%
    ),
    linear-gradient(to bottom, #1a4c0e, #001c22);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
