/*ABOUT*/

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  color: white;
}

