:root {
  --green-color: #449f05;
  --lightgreen-color: #55cb04;
  --fluogreen-color: #6bff05;
  --deepblue-color: #043640;
  --blue-color: #034b57;
  --main-font: "Poppins", sans-serif;
}

/* ========== BLOC PRINCIPAL ========== */
.add-challenge {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ========== HEADER DU FORMULAIRE ========== */
.add-challenge__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.add-challenge__title {
  font-family: var(--main-font);
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.add-challenge__title-bar {
  width: 60%;
  height: 4px;
  background-color: var(--fluogreen-color);
  margin-top: 0.5rem;
  border-radius: 4px;
}

/* ========== FORMULAIRE ========== */
.add-challenge__form-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-challenge__form-container {
  height: 75%;
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  gap: 10rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid var(--fluogreen-color);
  background-color: rgba(4, 54, 64, 0.3);
}

.add-challenge__form {
  width: 100%;
}

.add-challenge__legend {
  font-family: var(--main-font);
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

/* GROUPE INPUT */
.add-challenge__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-challenge__input {
  background-color: #081c08;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 13px;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--main-font);
}

/* BOUTON VALIDER */
.add-challenge__submit-btn {
  width: 45%;
  display: block;
  background-color: var(--green-color);
  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 2rem;
}

/* BOUTON RETOUR */
.add-challenge__return-btn {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: var(--fluogreen-color);
  font-family: var(--main-font);
  font-weight: bold;
}

/* ========== RESPONSIVE ========== */
@media (1000px <= width <= 1279px) {
  .add-challenge__form-container {
    width: 40%;
  }
}

@media (769px <= width <= 999px) {
  .add-challenge__form-container {
    width: 50%;
  }
}

@media (width < 768px) {
  .add-challenge__form-container {
    width: 50%;
  }
}
