/* HEADER */
header {
  height: 10%;
  width: 98%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #1a4c0e 0%, #001c22 100%);
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 30px;
  margin-top: 1rem;
}

.header__logo {
  height: auto;
  width: 10%;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__user-info {
  display: flex;
  gap: 0.9rem;
}

.logo__gc {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-nav {
  width: 100%;
  margin: 0 auto;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 2rem;
  text-transform: uppercase;
  font-size: 16px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}

.header-nav a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-nav a:hover {
  color: #8bff6b;
}

.header-nav__hightlight {
  font-weight: 700;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.header-nav__logout-btn {
  display: inline-block;
  background-color: var(--green-color);
  color: white;
  cursor: pointer;
  margin: 1rem;
  padding: 0.7em;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.header-nav__logout-btn:hover {
  background-color: #33cc33;
  transform: scale(1.05);
}

/* BARRE DE RECHERCHE */

.search-form {
  height: 3%;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 1rem;
}

.search-form__input {
  min-width: 120px;
  border: none;
  border-radius: 25px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #081c08;
  font-family: var(--main-font);
  color: white;
}

.search-form__select {
  min-width: 120px;
  border: none;
  border-radius: 25px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #081c08;
  font-family: var(--main-font);
  color: white;
}

.search-form__btn {
  height: 5%;
  width: 10%;
  display: flex;
  justify-content: center;
  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  background-color: var(--green-color);
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
}

.search-form__btn:hover {
  background-color: #33cc33;
  transform: scale(1.05);
}

.header-nav__icon-login {
  display: none;
}

@media (width < 1075px) {
  .logo__gc {
    display: none;
  }
}

/* Media queries 1000px à 1279px */

@media (1000px <= width <= 1279px) {
  .icon-login {
    display: block;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: white;
  }

  .highlight {
    display: none;
  }

  .search-form {
    width: 20%;
    gap: 0.5rem;
  }

  .search-form__select {
    display: none;
  }
  .search-form__input,
  .search-form__select {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .search-form__input {
    min-width: 120px;
  }

  .search-form__btn {
    width: 15%;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem;
  }
}

/* Media queries 769px à 885px */

@media (769px <= width <= 999px) {
  .header__logo {
    display: none;
  }
  .highlight {
    display: none;
  }
  .search-form {
    display: none;
  }
}

/* Media queries >768px */

@media (width < 768px) {
  header {
    display: none;
  }
}
