/* HEADER */
header {
  height: 10%;
  width: 98%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #1a4c0e 0%, #001c22 100%);
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 30px;
}

.header__logo {
  height: auto;
  width: 10%;
  margin-right: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__xbox {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__aria-label {
  width: 100%;
  margin: 0 auto;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  white-space: nowrap;
  color: white;
}

.header-logo-left {
  height: 40px;        
  margin-right: 24px;  
  margin-left: 0;
  align-self: center;
}

.header__aria-label a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}


.header__aria-label a:hover {
  color: #8bff6b;
}

.header__aria-label .highlight {
  font-weight: 700;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}


/* BARRE DE RECHERCHE */

.search-form {
  height: 5%;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap : 1rem;
}

.search-form__input {
  width: 50%;
  border: none;
  border-radius: 25px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #081c08;
  font-family: var(--main-font);
  color: white;
}

.search-form__select {
  width: 50%;
  border: none;
  border-radius: 25px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #081c08;
  font-family: var(--main-font);
  color: white;
}

.search-form__btn {
  height: 5%;
  width: 10%;
  display: flex;
  justify-content: center;
  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  background-color: var(--green-color);
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
}

.search-form__btn:hover {
  background-color: #33cc33;
  transform: scale(1.05);
}

.icon-login {
  display: none;
}

/* Media queries 885px à 1279px */

@media (885px <= width <= 1279px) {
  .icon-login {
    display: block;
  border: none;
  border-radius: 25px;
  padding: 1rem;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: white;
  }

  .highlight {
    display: none;
  }

  .search-form {
    width: 20%;
    gap : 0.5rem;
  }

  .search-form__select {
    display: none;
  }
  .search-form__input, .search-form__select {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .search-form__input {
    min-width: 120px;
  }

  .search-form__btn {
    width: 15%;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem;
  }
} 

/* Media queries 769px à 885px */

@media (769px <= width <= 884px) {
  .header__logo {
    display: none;
  }
  .highlight {
    display: none;
  }
  .search-form {
    display: none;
  }
}

/* Media queries >768px */

@media (width < 768px) {
  header {
    display : none;
  }
}