/* PAGINATION */

.pagination {
  width: 10%;
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  color: white;
  margin: 4rem 0;
}

.pagination__span,
.pagination__a {
  font-family: var(--main-font);
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 2rem;
}

.pagination__span {
  color: white;
}

.pagination__a {
  color: var(--main-color);
}

@media (885px <= width <= 1279px) {
  .pagination {
    width: 20%;
    margin: 2rem 0;
  }
}

@media (769px <= width <= 884px) {
  .pagination {
    width: 30%;
    margin: 2rem 0;
  }
}

@media (width < 768px) {
  .pagination {
    width: 50%;
    margin: 4rem 0;
  }
}