.profile {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.profile__user {
  text-align: center;
  margin-bottom: 2rem;
}

.profile__avatar {
  border-radius: 50%;
  border: 2px solid var(--fluogreen-color);
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.profile__socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.profile__social-link {
  font-size: 2rem;
  color: var(--fluogreen-color);
  transition: color 0.2s;
}

.profile__social-link:hover {
  color: #fff;
}

.profile__challenges-title {
  text-align: center;
}

.profile__challenges-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}


.profile__challenges-item {
  margin-bottom: 1.5rem;
}

.profile__challenge-card {
  background: #11380f;
  border: 2px solid #44b716;
  border-radius: 16px;
  padding: 1.2rem 2rem;
  box-shadow: 0 2px 12px rgba(0,0,0,0.12);
  color: #fff;
  min-width: 260px;
  max-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__challenge-title {
  margin-bottom: 0.5rem;
}

.profile__challenge-game {
  margin-bottom: 0.7rem;
}

.profile__no-challenge {
  text-align: center;
  color: #fff;
}